<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>  
  
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :date_naissance %><br />
    <%= f.date_select :date_naissance %>
  </p>
 
  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
  
<% end %> 
